<section class="vh-auto gradient-custom-2">
  <div class="container py-5 h-100">
   <%= render 'notowner' if !current_user.owner?   %>
   <%= render 'owner' if current_user.owner?   %>
  </div>
</section>
