<section class="h-100 h-custom" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
     <div class="col">
      <% @order.line_items.each do |item| %>
        <div class="card mb-3">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div class="d-flex flex-row align-items-center">
                <div>
                  <img
                            src="/assets/kfc.png"
                            class="img-fluid rounded-3" alt="Ordering item" style="width: 65px;">
                  </div>
                 <div >
                 
                   <div class="ms-3">
                    <h5><%= item.dish.restaurant.name %></h5>
                  </div>
                  
                  <div class="ms-3">
                    <h5><%= item.quantity %> &times; <%= item.dish.name  %></h5>
                  </div>
                  
                
                </div>
                </div>
                <div class="d-flex flex-row align-items-center">
                  <div style="width: 80px;">
                    <h5 class="mb-0"><%= number_to_currency(item.total_price) %></h5>
                  </div>
                  <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </section>
